.contenedor {
  display: flex;
  flex-direction: column;
  height: 200;
  width: auto;
  background: chocolate;

  justify-content: flex-start;
  align-content: space-between;
}

.div1 {
  margin: auto;
  height: 20;
  width: 10%;
  background-color: aquamarine;
  text-align: center;
}

.div2 {
  margin: auto;
  height: 20;
  width: 20%;
  background-color: rgb(255, 127, 159);
  text-align: center;
}
.div3 {
  margin: auto;
  height: 20;
  width: 30%;
  background-color: burlywood;
  text-align: center;
}
